{
  "model": "Dell PowerEdge R760",
  "bios": {
    "BootMode": "Uefi",
    "PxeDev1EnDis": "Enabled"
  },
  "nic": {
    "PxeDev1Interface": "NIC.Integrated.1-1-1",
    "PxeDev1VlanEnDis": "Enabled",
    "PxeDev1VlanId": 176,
    "PxeDev1VlanPriority": 0,
    "PxeDev1Protocol": "IPv4"
  }
}
